*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tilt Prism', cursive;
    background-image: url("field.jpg"); 
    background-repeat: round; 
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title{
    margin-top: 1.6%;
    font-size: 60px;
    text-align: center;
}
.progress{
    margin-top: -4%;
    /* position: fixed; */
    font-size: 30px; 
}
#moves{
    margin-right: 83%;
}
#stopWatch{
    margin-top: -11%;
    margin-left: 80%;
}
#board {
  margin-top: -8.9%; 
  display: flex;
  gap: 3%; 
  flex-wrap: wrap;
  justify-content: center; 
  align-items:center; 
  height: 80%;
  width: 67%;
  margin-left: 16.14%;
  /* margin-top: -2%; */
  flex-direction: column;
}
.cardBack{
    transform: rotateY(0deg);  
    transform-style:preserve-3d; 
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* transform-origin: center center; */
    justify-content: center;
    overflow: hidden;
    width: 14%;
    height: 25%;
    /* white-space:nowrap; */
    background-color: rgba(253, 253, 253, 0.045);  
    margin:0.6% 0%;  
    border-radius: 10px;
    text-shadow: 5px 5px 20px rgb(2, 2, 2),
    -5px -5px 20px rgb(1, 16, 3); 
    box-shadow:  5px 5px 33px #0d0d0d,
                 -5px -5px 33px #04360f;
    text-align: center; 
    font-size: 100px;
    cursor: pointer;
   /* height: 0; 
    padding-top: 14%; 
    width:14%;if i want to make square no matter what */
}
/* cardBack: */
.cardBack:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(1, 20, 3, 0.9),
            -5px -5px 10px rgba(1, 20, 3, 0.9); 
} 
.cardFront{
     transform: rotateY(180deg);  
    transform-style:preserve-3d; 
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); 
    /* transform-origin: center; */
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    width: 14%;
    height: 25%;
    margin:0.6% 0%;  
    border-radius: 10px;
    font-size: 0;
    /* height: 25%;
    width: 14%;      */
    /* margin:0% 1.2%; */
    box-shadow:  5px 5px 33px #0d0d0d,
                 -5px -5px 33px #04360f;
}
/* .flipped{

} */
.backPhotos{
    width: 0;
    height: 0;
}
.frontPhotos{
    scroll-behavior: auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 5%;
    -webkit-user-drag: none;
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    touch-action: none; 
}
button{
    /* margin-left: 1.55%; */
    margin-left: 43.4%;
    margin-bottom: 0%;
    margin-top: 0%; 
    font-family: 'Tilt Prism', cursive;
    cursor: pointer;
    border:none;
    background:none;
    font-size:30px;
    text-align: center;
}
#h1Button{
    margin-top: -4%;
}
button:hover{
    font-size:29.9px;
    text-shadow: 5px 5px 10px rgba(239, 241, 239, 0.25),
    -5px -5px 10px rgba(220, 227, 221, 0.25); 
 /* transform: */
}
span, .cardBack{
    color: white;
     text-shadow: 5px 5px 20px rgb(2, 2, 2),
    -5px -5px 20px rgb(1, 16, 3); 
}
#card0{
    box-shadow:  5px 5px 33px #0d0d0d,
    -5px -5px 33px #04360f;
}